= form_for @page, url: @page.new_record? ? pages_path : page_path(@page.id), role: 'form',
  html: { class: 'form-horizontal' } do |f|
  = f.hidden_field :slug

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: 'Title'

  .form-group
    = f.text_area :body, class: 'form-control', rows: 10, placeholder: 'Body'

  .form-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Back', pages_path, class: 'btn btn-default'

%h2 Preview:
#currentPreview
