- if @page.new_record?
  %p= link_to "Create page \"#{@page.title}\"", new_page_path(path: @page.title)
- else
  = link_to 'Edit', edit_page_path(@page)
  |
  = link_to 'Versions', versions_page_path(@page)

  %p
    %em= "Last edited by <strong>#{@page.updated_by}</strong>, #{distance_of_time_in_words_to_now(@page.updated_at)} ago".html_safe

  .well
    %h2= @page.title

  = @body.html_safe
