- if @page.new_record?
  %p= link_to "Create page \"#{@page.title}\"", new_page_path(path: @page.title)
- else
  = link_to 'Edit', edit_page_path(@page)
  |
  = link_to 'Versions', versions_page_path(@page)

  .well
    %h2= @page.title

  = @body.html_safe
