!!!
%html{ lang: 'en' }
  %head
    %title= @wiki_detail.name
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ data: { controller: controller_name, action: action_name } }
    .container
      = bootstrap_flash

      .row
        .col-md-12
          .well
            = @wiki_detail.logo_or_name

            .pull-right
              = current_user.email
              |
              - if current_user.admin?
                = link_to 'Admin area', admin_dashboard_path
                |
              = link_to 'Sign out', destroy_user_session_path, method: :delete
      .row
        .col-md-3
          .panel.panel-default
            .panel-heading Special Pages
            %ul.list-group
              %li.list-group-item= link_to 'All pages', pages_path

          = yield :sidebar
        .col-md-9
          = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
