!!!
%html{ lang: 'en' }
  %head
    %title RubyWiki
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      = bootstrap_flash

      .row
        .col-md-3 Sidebar
        .col-md-9
          %h1 RubyWiki
          = yield
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
