!!!
%html{ lang: 'en' }
  %head
    %title RubyWiki
    %meta(name='viewport' content='width=device-width, initial-scale=1.0')
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{ data: { controller: controller_name, action: action_name } }
    .container
      = bootstrap_flash

      .row
        .col-md-12
          .well
            %h1 RubyWiki
          = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
